.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 14px;
    padding-left: 14px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto', sans-serif;
    color: #3D3847;
    position: relative;
}

header.main-header {
    background-color: #9179BA;
    background-image: url("data:image/svg+xml,%3Csvg width='135' height='135' viewBox='0 0 135 135' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M130.256 135h-2.082c-.114-.482-.174-.984-.174-1.5 0-3.59 2.91-6.5 6.5-6.5h.5v2h-.5c-2.485 0-4.5 2.015-4.5 4.5 0 .526.09 1.03.256 1.5zM135 3v2h-.5c-3.074 0-5.65-2.133-6.326-5h2.082c.618 1.748 2.285 3 4.244 3h.5zM4 135h2V99h2v36h2v-6h9v6h2v-6h2v6h2v-6h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V108H19v15h-9V99h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V78H4v15H0v2h14.5c3.59 0 6.5-2.91 6.5-6.5S18.09 82 14.5 82H8v11H6V80h8.5c4.694 0 8.5 3.806 8.5 8.5S19.194 97 14.5 97H0v2h4v24H0v2h4v2H0v2h4v6zM4 0h2v5H0V3h4V0zm104.744 135h2.082c.114-.482.174-.984.174-1.5 0-3.59-2.91-6.5-6.5-6.5H98v8h2v-6h4.5c2.485 0 4.5 2.015 4.5 4.5 0 .526-.09 1.03-.256 1.5zM0 54.027V52.02c3.356.254 6 3.058 6 6.48 0 3.422-2.644 6.226-6 6.48v-2.007c2.25-.25 4-2.157 4-4.473s-1.75-4.224-4-4.473zm135 0V52.02c-.165-.014-.332-.02-.5-.02H128v11h-2V50h8.5c.168 0 .335.005.5.014V48h-11v15h-9V39h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V18h-11v15h-9V9h5v-.012c5.063-.237 9.19-4.06 9.894-8.988h-2.026c-.708 3.98-4.185 7-8.368 7H85V5h19.5c3.074 0 5.65-2.133 6.326-5h-2.082c-.618 1.748-2.285 3-4.244 3H100V0h-2v3h-2V0h-2v3h-9V0h-2v22h-8.5c-4.694 0-8.5-3.806-8.5-8.5S69.806 5 74.5 5H79v2h-4.5C70.91 7 68 9.91 68 13.5s2.91 6.5 6.5 6.5H81V0h-2v3h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V24h11V9h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V54h11V39h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V84h11V69h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V114h11V99h5v-2h-5v-2h5v-2h-5V69h5v-2.014c-.165.01-.332.014-.5.014H115v-2h19.5c.168 0 .335-.006.5-.02v-2.007c-.164.018-.33.027-.5.027H130v-9h4.5c.17 0 .336.01.5.027zM112.868 135h2.026c.07-.49.106-.99.106-1.5 0-5.63-4.433-10.227-10-10.488V123H94v12h2v-10h8.5c4.694 0 8.5 3.806 8.5 8.5 0 .512-.045 1.013-.132 1.5zM83 135h2v-21h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V93H79v15h-9V84h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V63H64v15h-9V54h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V33H49v15h-9V24h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V3H34v15h-9V0h-2v37h-8.5C9.806 37 6 33.194 6 28.5S9.806 20 14.5 20H19v2h-4.5C10.91 22 8 24.91 8 28.5s2.91 6.5 6.5 6.5H21V0h-2v18h-5v.012C8.433 18.272 4 22.87 4 28.5c0 5.63 4.433 10.227 10 10.488V39h11V24h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V69h11V54h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V99h11V84h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V129h11v-15h9v21h2v-21h2v21zM135 7v2h-1v-.012c-5.063-.237-9.19-4.06-9.894-8.988h2.026c.708 3.98 4.185 7 8.368 7h.5zm-8.868 128h-2.026c-.07-.49-.106-.99-.106-1.5 0-5.63 4.433-10.227 10-10.488V123h1v2h-.5c-4.694 0-8.5 3.806-8.5 8.5 0 .512.045 1.013.132 1.5zM0 50.014v-2.008.006c5.567.26 10 4.857 10 10.488 0 5.63-4.433 10.227-10 10.488v.006-2.008c4.462-.26 8-3.96 8-8.486 0-4.527-3.538-8.227-8-8.486zM8 0h2v9H0V7h8V0zm36.5 20c3.59 0 6.5-2.91 6.5-6.5S48.09 7 44.5 7H38v11h-2V5h8.5c4.694 0 8.5 3.806 8.5 8.5S49.194 22 44.5 22H25v-2h19.5zM36 49V24h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5H34v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5H36V49zm23.5 1c3.59 0 6.5-2.91 6.5-6.5S63.09 37 59.5 37H53v11h-2V35h8.5c4.694 0 8.5 3.806 8.5 8.5S64.194 52 59.5 52H40v-2h19.5zM96 34V9h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5H94v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5H96V34zm23.5 1c3.59 0 6.5-2.91 6.5-6.5s-2.91-6.5-6.5-6.5H113v11h-2V20h8.5c4.694 0 8.5 3.806 8.5 8.5s-3.806 8.5-8.5 8.5H100v-2h19.5zM111 64V39h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5h4.5v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5h6.5V64zm15 30V69h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5h4.5v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5h6.5V94zM51 79V54h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5H49v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5H51V79zm23.5 1c3.59 0 6.5-2.91 6.5-6.5S78.09 67 74.5 67H68v11h-2V65h8.5c4.694 0 8.5 3.806 8.5 8.5S79.194 82 74.5 82H55v-2h19.5zm-45 45c3.59 0 6.5-2.91 6.5-6.5s-2.91-6.5-6.5-6.5H23v11h-2v-13h8.5c4.694 0 8.5 3.806 8.5 8.5s-3.806 8.5-8.5 8.5H10v-2h19.5zM66 109V84h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5H64v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5H66v-16zm23.5 1c3.59 0 6.5-2.91 6.5-6.5S93.09 97 89.5 97H83v11h-2V95h8.5c4.694 0 8.5 3.806 8.5 8.5s-3.806 8.5-8.5 8.5H70v-2h19.5zM44.5 9c2.485 0 4.5 2.015 4.5 4.5S46.985 18 44.5 18H40V9h4.5zm15 30c2.485 0 4.5 2.015 4.5 4.5S61.985 48 59.5 48H55v-9h4.5zm60-15c2.485 0 4.5 2.015 4.5 4.5s-2.015 4.5-4.5 4.5H115v-9h4.5zm-105 60c2.485 0 4.5 2.015 4.5 4.5S16.985 93 14.5 93H10v-9h4.5zm15 30c2.485 0 4.5 2.015 4.5 4.5s-2.015 4.5-4.5 4.5H25v-9h4.5zm45-45c2.485 0 4.5 2.015 4.5 4.5S76.985 78 74.5 78H70v-9h4.5zm15 30c2.485 0 4.5 2.015 4.5 4.5s-2.015 4.5-4.5 4.5H85v-9h4.5zm-75-75c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H19v-9h-4.5zm30 60c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H49v-9h-4.5zm15 30c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H64v-9h-4.5zm-30-60c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H34v-9h-4.5zm60-15c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H94v-9h-4.5zm-15-30c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H79V9h-4.5zm45 90c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5h4.5v-9h-4.5zm-15-30c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5h4.5v-9h-4.5z' fill='%23826CA7' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.main-nav {
    padding: 28px 0 28px 0;
}

.navbar .nav-links li {
    display: inline;
    list-style-type: none;
    margin-left: 28px;
}

.navbar .nav-links {
    float: right;
    line-height: 32px;
}

.navbar {
    display: block;
    min-height: 0;
    margin-bottom: 0;
}

nav.navbar a {
    color: #fff;
    font-weight: 600;
}

nav.navbar a:hover {
    color: #fff;
    text-decoration: none;
}

.nav-links .selected {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.main-headline {
    background: linear-gradient(90deg, rgba(240, 237, 245, 100) 50%, rgba(255, 255, 255, 0) 50%);
    background: -webkit-linear-gradient(0deg, rgba(240, 237, 245, 100) 50%, rgba(255, 255, 255, 0) 50%);
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.headline {
    width: 50%;
    padding: 32px 50px 100px 0;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #86818F;
    line-height: 26px;
}

p.introducing {
    text-transform: uppercase;
    font-weight: 500;
    color: #AEA9B8;
    margin-bottom: 0px;
}

h1 {
    font-weight: 300;
    font-size: 64px;
    margin-top: 6px;
}

h2 {
    font-weight: 400;
    font-size: 24px;
}

h3 {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.modal-dialog h3{
	color: #fff;
}

h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

p.lead {
    font-weight: 400;
    font-size: 20px;
}

small {
    color: #6F7E85;
    font-size: 14px;
    line-height: 20px;
}

a {
    color: #9179BA;
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: #55476E;
    text-decoration: none;
}

.selected-pattern-header{
	margin-bottom: 20px;
}

.download-svg{
	float: right;
	margin-top: 8px;
}



.btn {
    font-size: 16px;
    font-weight: 500;
    text-shadow: none;
    border: none;
    border-radius: 4px;
}

.btn-primary {
    color: #FFFFFF;
    margin-right: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
    background-color: #9179BA;
    background-image: none;
    padding: 5px 20px;
    margin-top: 1px;
}

.btn-link {
    color: #9179BA;
    background-image: none;
    padding: 0;
}

.btn-link:hover {
    color: #55476E;
    text-decoration: none;
}

.svg-icon{
	margin-top: -2px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    background-color: #9179BA;
}

.btn-default {
    background: #fff;
    color: #9179ba;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
    background-color: #ffffff;
    color: #55476E;
    border: 1px solid #9179BA;
}

section {
    padding: 40px 0 20px 0;
}

section#patterns {
    background-color: #FAFAFA;
    border-bottom: 1px solid #D0D0D0;
}

a.browse-patterns {
    font-weight: 700;
    font-size: 16px;
    color: #9179BA;
}

a.browse-patterns:hover {
    text-decoration: none;
    color: #55476E;
}

.pattern-container {
    position: relative;
    border: 1px solid #ccc;
    height: 220px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}

.pattern-container:hover{
	box-shadow: 0 0 0 3px #9179BA;
	border: 1px solid #9179BA;
}

.modal-pattern-container {
    position: relative;
    border: 1px solid #ccc;
    height: 220px;
    margin-bottom: 20px;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    height: 300px;
    margin-bottom: 0px;
}



.use-pattern-btn{
	float: right;
	display: none;
}

.pattern-container:hover .use-pattern-btn{
	display: block;
}

.pattern-info {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    padding: 12px;
    width: 100%;
}

.pattern-size {
    font-size: 14px;
    color: #9B9B9B;
    line-height: 20px;
}

#appearance-settings {
    padding: 10px 0;
    border-bottom: 1px solid #D0D0D0;
    z-index: 2;
    background: #fff;
}

#appearance-settings .form-control {
    display: inline-block;
    border: none;
    box-shadow: none;
    padding: 0;
}

#appearance-settings.affix-top{
	position: relative;
	margin-top: 0px;
}

.affix{
	width: 100%;
	top:0;
}

.form-control > label {
    display: block;
    margin-bottom: 0.5em;
}

.color-input {
    display: flex;
    border-radius: 0.25em;
    border: 1px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
    height: 36px;
}

.color-input-swatch {
    border: none;
    display: flex;
    width: 100%;
    outline: none;
    background: none;
    padding: 6px;
}

.color-input-swatch.sp-active,
.color-input-swatch:hover {
    border-color: rgba(0, 0, 0, 0.2);
}

.sp-container {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.25em;
}

.sp-dd {
    display: none;
}

.sp-preview {
    height: auto;
    width: 100%;
    border: none;
    margin-right: 0;
}

.sp-preview-inner {
    border: 1px solid rgba(0,0,0,0.2);
}

.color-input-value {
    display: block;
    padding: 0.5em;
}

label {
    font-weight: 400;
    margin-bottom: 0.5em;
}

input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */
    padding-top: 20px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #B7B7B7;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -7px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 0;
    background: #F5F5F5;
    border-radius: 4px;
    border: 1px solid #B7B7B7;
}

/* Prevent jscolor from showing up behind modal */
.modal-backdrop { z-index: 800; }
.modal { z-index: 900; }

.modal-content {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

.modal-header {
    padding: 20px 40px 20px 40px;
    border-bottom: 0;
    background: #3D3847;
}

.modal-body {
    padding: 20px 40px 20px 40px;
}

.modal-footer {
    padding: 20px 40px 40px 40px;
    border-top: none;
}

.modal-appearance {
    padding-top: 40px;
}

.modal-appearance .appearance-settings {
    padding-top: 0px;
    border-top: none;
    border-bottom: none;
    padding-right: 14px;
    padding-left: 14px;
}

.close{
	font-size: 14px;
	font-weight: 400;
	opacity: 0.6;
	text-shadow: none;
	line-height: 34.2857px;
}

.close svg{
	margin-right; 0px;
}

.appearance-settings h4 {
    margin-top: 0;
}

.form-control{
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	
}

.modal-appearance .form-control{
    height: 80px;
    padding: 0;
    border: none;
}


.about h2 {
    margin-bottom: 20px;
}

.overview-desc {
    margin-bottom: 20px;
}

.features {
    background: #FAFDFF;
    border-top: 1px solid #E3E5E7;
    border-bottom: 1px solid #E3E5E7;
}

.icon-section {
    border-bottom: 1px solid #E3E5E7;
}

.feature {
    margin-bottom: 28px;
}

figure {
    margin-bottom: 20px;
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
}

.footer {
    background: #3D3847;
}

.creative-commons {
    background-image: url("../img/creative-commons.png");
    background-size: 134px 32px;
    width: 134px;
    height: 32px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.designed-by {
    font-size: 12px;
    color: #fff;
    text-align: center;
    width: 100%;
}

h2.icons-title {
    float: left;
    margin: 0;
    line-height: inherit;
}

.icon-section .navbar {
    border-bottom: 1px solid #ccc;
    margin-bottom: 28px;
}

.navbar-text {
    margin-top: 18px;
}

.navbar-right {
    margin-right: 0;
}

svg {
    fill: #384348;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#icon-shape {
    fill: #384348;
}

.svg-icon {
    font-size: 16px;
    color: #6F7E85;
    line-height: 30px;
    display: inline-block;
}

.svg-icon-social {
    font-size: 18px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
}

.icon-container {
    margin-bottom: 30px;
}

a.footer-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

a.footer-link:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}


.btn-twitter {
    background: #55ACEE;
    color: #fff;
}

.btn-dribbble {
    background: #EA4C89;
    color: #fff;
}

body.thank-you-page {
    background: #E7EBED;
}

.thank-you-page .cta-btns {
    margin-top: 28px;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    margin-left: 10px;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1em
}

.label-default {
    background-color: #74C1E7;
}

.avatar {
    background-image: url("../img/avatar.png");
    background-size: 109px 109px;
    width: 109px;
    height: 109px;
    margin: 0 auto;
}

.btn-full-width {
    width: 100%;
    margin-bottom: 20px;
}

.about-content {
    padding-bottom: 28px;
}

.sp-cancel {
    display: none;
}

.sp-container {
    border-radius: 0;
    background-color: #FFFFFF;
    border: solid 1px #cccccc;
    padding: 0;
    border-radius: 6px;
}

.sp-picker-container, .sp-palette-container {
    float: left;
    position: relative;
    padding: 14px;
    padding-bottom: 300px;
    margin-bottom: -290px;
    
}

.sp-input {
    font-size: 14px !important;
    padding: 8px 10px;
    margin: 7px 0;
    width: 100%;
    background: transparent;
    border-radius: 0px;
    color: #222;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #adadad;
}

.sp-container button {
    background-color: #9179BA;
    background-image: none;
    border: #9179BA;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1;
    padding: 8px 20px 10px 20px;
    width: 100%;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}

.sp-container button:hover {
    background-color: #55476E;
    background-image: none;
    border: #9179BA;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1;
    padding: 8px 20px 10px 20px;
    width: 100%;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.10);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}

.sp-palette-button-container, .sp-button-container {
    float: none;
}

.heroicons-banner {
	margin-bottom: 40px;
	border-radius: 6px;
	padding: 15px 30px;
  background-color: #e9eeed;
  border: 2px solid #75C3B5
}

.heroicons-banner-text{
	color: #39403E;
	font-size: 20px;
	display: inline;
}

.heroicons-banner-cta{
	color: #409982;
	font-weight: 600;
	font-size: 20px;
}

.heroicons-logo{
	display: inline-block;
}

.aligned-center{
    text-align: center;
}

@media (max-width: 992px) {
	.heroicons-banner {
	margin-bottom: 40px;
	border-radius: 6px;
	padding: 15px 30px;
  background-color: #e9eeed;
  border: 2px solid #75C3B5;
  text-align: center;
}

.heroicons-banner-text{
	color: #39403E;
	font-size: 20px;
	line-height: 0;
	text-align: center;
	line-height: 28px;
}

.heroicons-banner-cta{
	color: #409982;
	font-weight: 600;
	font-size: 20px;
}

.heroicons-logo{
	margin: 0 auto 10px auto;
	display: inherit;
}
}

@media (max-width: 767px) {
    nav.navbar a {
        color: #6F7E85;
        font-weight: 600;
    }
    .nav-links .selected {
        color: #6F7E85;
        text-decoration: none;
        border-bottom: 2px solid rgba(111, 126, 133, 0.6);
    }
    nav.navbar a:hover {
        color: #6F7E85;
        text-decoration: none;
    }
    
    .navbar{
	  text-align: center;  
    }
    
    .btn-full-width {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .modal-pattern-container{
	    height: 120px;
	    margin-bottom: 40px;
    }
    
    header.mobile-banner {
        padding-bottom: 200px;
        background-color: #9179BA;
		background-image: url("data:image/svg+xml,%3Csvg width='135' height='135' viewBox='0 0 135 135' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M130.256 135h-2.082c-.114-.482-.174-.984-.174-1.5 0-3.59 2.91-6.5 6.5-6.5h.5v2h-.5c-2.485 0-4.5 2.015-4.5 4.5 0 .526.09 1.03.256 1.5zM135 3v2h-.5c-3.074 0-5.65-2.133-6.326-5h2.082c.618 1.748 2.285 3 4.244 3h.5zM4 135h2V99h2v36h2v-6h9v6h2v-6h2v6h2v-6h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V108H19v15h-9V99h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V78H4v15H0v2h14.5c3.59 0 6.5-2.91 6.5-6.5S18.09 82 14.5 82H8v11H6V80h8.5c4.694 0 8.5 3.806 8.5 8.5S19.194 97 14.5 97H0v2h4v24H0v2h4v2H0v2h4v6zM4 0h2v5H0V3h4V0zm104.744 135h2.082c.114-.482.174-.984.174-1.5 0-3.59-2.91-6.5-6.5-6.5H98v8h2v-6h4.5c2.485 0 4.5 2.015 4.5 4.5 0 .526-.09 1.03-.256 1.5zM0 54.027V52.02c3.356.254 6 3.058 6 6.48 0 3.422-2.644 6.226-6 6.48v-2.007c2.25-.25 4-2.157 4-4.473s-1.75-4.224-4-4.473zm135 0V52.02c-.165-.014-.332-.02-.5-.02H128v11h-2V50h8.5c.168 0 .335.005.5.014V48h-11v15h-9V39h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V18h-11v15h-9V9h5v-.012c5.063-.237 9.19-4.06 9.894-8.988h-2.026c-.708 3.98-4.185 7-8.368 7H85V5h19.5c3.074 0 5.65-2.133 6.326-5h-2.082c-.618 1.748-2.285 3-4.244 3H100V0h-2v3h-2V0h-2v3h-9V0h-2v22h-8.5c-4.694 0-8.5-3.806-8.5-8.5S69.806 5 74.5 5H79v2h-4.5C70.91 7 68 9.91 68 13.5s2.91 6.5 6.5 6.5H81V0h-2v3h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V24h11V9h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V54h11V39h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V84h11V69h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V114h11V99h5v-2h-5v-2h5v-2h-5V69h5v-2.014c-.165.01-.332.014-.5.014H115v-2h19.5c.168 0 .335-.006.5-.02v-2.007c-.164.018-.33.027-.5.027H130v-9h4.5c.17 0 .336.01.5.027zM112.868 135h2.026c.07-.49.106-.99.106-1.5 0-5.63-4.433-10.227-10-10.488V123H94v12h2v-10h8.5c4.694 0 8.5 3.806 8.5 8.5 0 .512-.045 1.013-.132 1.5zM83 135h2v-21h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V93H79v15h-9V84h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V63H64v15h-9V54h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V33H49v15h-9V24h5v-.012c5.567-.26 10-4.857 10-10.488 0-5.63-4.433-10.227-10-10.488V3H34v15h-9V0h-2v37h-8.5C9.806 37 6 33.194 6 28.5S9.806 20 14.5 20H19v2h-4.5C10.91 22 8 24.91 8 28.5s2.91 6.5 6.5 6.5H21V0h-2v18h-5v.012C8.433 18.272 4 22.87 4 28.5c0 5.63 4.433 10.227 10 10.488V39h11V24h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V69h11V54h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V99h11V84h9v24h-5v.012c-5.567.26-10 4.857-10 10.488 0 5.63 4.433 10.227 10 10.488V129h11v-15h9v21h2v-21h2v21zM135 7v2h-1v-.012c-5.063-.237-9.19-4.06-9.894-8.988h2.026c.708 3.98 4.185 7 8.368 7h.5zm-8.868 128h-2.026c-.07-.49-.106-.99-.106-1.5 0-5.63 4.433-10.227 10-10.488V123h1v2h-.5c-4.694 0-8.5 3.806-8.5 8.5 0 .512.045 1.013.132 1.5zM0 50.014v-2.008.006c5.567.26 10 4.857 10 10.488 0 5.63-4.433 10.227-10 10.488v.006-2.008c4.462-.26 8-3.96 8-8.486 0-4.527-3.538-8.227-8-8.486zM8 0h2v9H0V7h8V0zm36.5 20c3.59 0 6.5-2.91 6.5-6.5S48.09 7 44.5 7H38v11h-2V5h8.5c4.694 0 8.5 3.806 8.5 8.5S49.194 22 44.5 22H25v-2h19.5zM36 49V24h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5H34v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5H36V49zm23.5 1c3.59 0 6.5-2.91 6.5-6.5S63.09 37 59.5 37H53v11h-2V35h8.5c4.694 0 8.5 3.806 8.5 8.5S64.194 52 59.5 52H40v-2h19.5zM96 34V9h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5H94v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5H96V34zm23.5 1c3.59 0 6.5-2.91 6.5-6.5s-2.91-6.5-6.5-6.5H113v11h-2V20h8.5c4.694 0 8.5 3.806 8.5 8.5s-3.806 8.5-8.5 8.5H100v-2h19.5zM111 64V39h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5h4.5v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5h6.5V64zm15 30V69h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5h4.5v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5h6.5V94zM51 79V54h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5H49v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5H51V79zm23.5 1c3.59 0 6.5-2.91 6.5-6.5S78.09 67 74.5 67H68v11h-2V65h8.5c4.694 0 8.5 3.806 8.5 8.5S79.194 82 74.5 82H55v-2h19.5zm-45 45c3.59 0 6.5-2.91 6.5-6.5s-2.91-6.5-6.5-6.5H23v11h-2v-13h8.5c4.694 0 8.5 3.806 8.5 8.5s-3.806 8.5-8.5 8.5H10v-2h19.5zM66 109V84h2v43h-8.5c-4.694 0-8.5-3.806-8.5-8.5s3.806-8.5 8.5-8.5H64v2h-4.5c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5H66v-16zm23.5 1c3.59 0 6.5-2.91 6.5-6.5S93.09 97 89.5 97H83v11h-2V95h8.5c4.694 0 8.5 3.806 8.5 8.5s-3.806 8.5-8.5 8.5H70v-2h19.5zM44.5 9c2.485 0 4.5 2.015 4.5 4.5S46.985 18 44.5 18H40V9h4.5zm15 30c2.485 0 4.5 2.015 4.5 4.5S61.985 48 59.5 48H55v-9h4.5zm60-15c2.485 0 4.5 2.015 4.5 4.5s-2.015 4.5-4.5 4.5H115v-9h4.5zm-105 60c2.485 0 4.5 2.015 4.5 4.5S16.985 93 14.5 93H10v-9h4.5zm15 30c2.485 0 4.5 2.015 4.5 4.5s-2.015 4.5-4.5 4.5H25v-9h4.5zm45-45c2.485 0 4.5 2.015 4.5 4.5S76.985 78 74.5 78H70v-9h4.5zm15 30c2.485 0 4.5 2.015 4.5 4.5s-2.015 4.5-4.5 4.5H85v-9h4.5zm-75-75c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H19v-9h-4.5zm30 60c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H49v-9h-4.5zm15 30c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H64v-9h-4.5zm-30-60c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H34v-9h-4.5zm60-15c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H94v-9h-4.5zm-15-30c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5H79V9h-4.5zm45 90c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5h4.5v-9h-4.5zm-15-30c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5h4.5v-9h-4.5z' fill='%23826CA7' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
    
    .showcase,
    .showcase-desc {
        display: none;
    }
    .main-headline {
        background: rgba(231, 235, 237, 100);
    }
    .headline {
        width: 100%;
        text-align: center;
        padding: 32px 0px 100px 0;
    }
    .col-sm-8 {
        width: 100%;
    }
    .avatar {
        float: left;
        margin-right: 20px;
    }

    h2.icons-title {
        float: none;
    }
    .btn-full-width {
        width: auto;
        margin-bottom: 20px;
    }
    .navbar-text {
        margin-top: 0;
    }
    .btn {
        margin: 0 0px;
    }
    .avatar-float {
        margin-top: 28px;
        margin-left: 123px;
    }
    .bio {
        margin-left: 133px;
    }
    
    .btn {
        font-size: 16px;
        font-weight: 500;
        text-shadow: none;
        border: none;
        border-radius: 4px;
        margin: 0;

    }
    
    .btn-primary{
        width: 100%;
    }
    
    .btn-default {
        margin-right: 0px;
        border: 1px solid #adadad;
    }
    
    .download-svg{
	    display: none;
    }
}

@media (max-width: 475px) {
    
    .bio {
        float: left;
        margin: 28px 0;
    }

    .avatar-float {
        margin-top: 0;
        margin-left: 0;
    }
    .btn-full-width {
        margin-bottom: 20px;
        width: 100%;
    }
  
    .btn-twitter {
        margin-bottom: 20px;
    }
    
    .modal-header {
    padding: 20px;
    border-bottom: 0;
    background: #3D3847;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    padding: 20px;
    border-top: none;
}
}
